@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
$font-family: 'Work Sans', sans-serif;
$width: 100vw;
$height: 100vh;

*{
    margin: 0;
    padding: 0;
}
body{
    width: $width;
    height: $height;
    color: white;
    font-family: $font-family;
}